<% if (currentUser !== undefined) { %>
    <script>
        var currentUser = {
            id: '<%= currentUser.id %>',
            username: '<%= currentUser.username %>',
            email: '<%= currentUser.email %>',
            first_name: '<%= currentUser.first_name %>',
            createdAt: '<%= currentUser.createdAt %>',
            updatedAt: '<%= currentUser.updatedAt %>'
        };
    </script>
<% } %>

<div class=" no-y" ui-view="main" id="main-container" style="width:100%;margin:0px" data-ng-view data-autoscroll></div>