<% if (currentUser !== undefined) { %>
    <script>
    var currentUser = {
    id: '<%= currentUser.id %>',
    username: '<%= currentUser.username %>',
    email: '<%= currentUser.email %>',
    first_name: '<%= currentUser.first_name %>',
    createdAt: '<%= currentUser.createdAt %>',
    updatedAt: '<%= currentUser.updatedAt %>'
    };
    </script>
<% } %>
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="../../assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../../assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="../../assets/favicons/manifest.json">
<link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!--<div ng-include="'sidebar/index.tpl.html'" data-ng-view data-autoscroll></div>-->

<div class=" no-y" ui-view="main" id="main-container" style="width:100%;margin:0px" data-ng-view data-autoscroll></div>